{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
    <title>Список непрочитанных сообщений</title>
</head>
<body>
<div class="page-header">
    <h1><a href="/">Список непрочитанных сообщений</a></h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for message in messages %}
                <div class="message">
                    <div class="date">
                        <p>Опубликовано: {{ message.published_date }}</p>
                    </div>
                    <h1><a href="">{{ message.text|linebreaksbr }}</a></h1>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>